# See: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
# Please delete following options in `.prettierrc` file:
# - endOfLine (end_of_line);
# - printWidth (max_line_length);
# - tabWidth (indent_size);
# - useTabs (indent_style);

root = true

[*]
charset = utf-8
max_line_length = 80

indent_style = space
indent_size = 4
tab_width = 4

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd}]
end_of_line = crlf

[*.{json,jsonc}]
indent_style = space
indent_size = 2
[binding.gyp]
indent_style = space
indent_size = 2

[*.{html,rss,svg,xhtml,xml}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{md,mdx}]
max_line_length = unset
trim_trailing_whitespace = false

[*.mk]
indent_style = tab
[Makefile]
indent_style = tab

[*.sh]
end_of_line = lf

[*.toml]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2
[{.clangd,.clang-format,.clang-tidy}]
indent_style = space
indent_size = 2
[erlang_ls.config]
indent_style = space
indent_size = 2
