.vscode/**
.vscode-test/**

dist/
images/**/*.svg
src/
test/

.editorconfig
.env
.gitignore
.npmrc
.prettierignore
.prettierrc
.vscode-test.mjs

Makefile
eslint.config.mjs
package.vscode.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsup.config.*.ts
vsc-extension-quickstart.md
